services:
  postgres:
    image: postgres:16
    container_name: webanly-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: suraj
      POSTGRES_PASSWORD: surajpassword
      POSTGRES_DB: webAnlyDB
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redpanda:
    image: redpandadata/redpanda:latest
    container_name: webanly-redpanda
    restart: unless-stopped
    command:
      - redpanda
      - start
      - --overprovisioned
      - --smp
      - "1"
      - --memory
      - "1G"
      - --reserve-memory
      - "0M"
      - --node-id
      - "0"
      - --kafka-addr
      - PLAINTEXT://0.0.0.0:9092
      - --advertise-kafka-addr
      - PLAINTEXT://redpanda:9092
    ports:
      - "9092:9092"

  web:
    build:
      context: .
      dockerfile: Dockerfile.web
    container_name: webanly-web
    env_file:
      - ./apps/web/.env
      - ./packages/db/.env
    depends_on:
      postgres:
        condition: service_started
      redpanda:
        condition: service_started
    ports:
      - "3000:3000"

  collector:
    build:
      context: .
      dockerfile: Dockerfile.collector
    container_name: webanly-collector
    env_file:
      - ./apps/collector/.env
      - ./packages/db/.env
    depends_on:
      postgres:
        condition: service_started
      redpanda:
        condition: service_started

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: webanly-worker
    env_file:
      - ./apps/worker/.env
      - ./packages/db/.env
    depends_on:
      postgres:
        condition: service_started
      redpanda:
        condition: service_started

volumes:
  pgdata:
